<ul class="menu">
    {% for link in menu %}
    <li>
        <a href="{% url link.href %}"
            class ="{% if request.resolver_match.url_name == link.href %}
                active
                {% endif %}">
            {{ link.name }}
        </a>
    </li>
    {% endfor %}

        {% if user.is_authenticated %}
            <li><a href="{% url 'auth:edit' %}">{{ user.first_name|default:"Пользователь" }}</a></li>
            <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'auth:register' %}">Регистрация</a></li>
            <li><a href="{% url 'auth:login' %}">Войти</a></li>
        {% endif%}

</ul>
<a href="#" class="search"></a>
<a href="{% url 'basket:basket' %}" class="basket">
    <span>
    {% if basket %}
      {{ basket.0.total_cost|floatformat:2 }} руб.
        </br>
      {{ basket.0.total_quantity }} шт.
    {% endif %}
  </span>
</a>
