{% if object.status == 'FM' %}
    <div class="container">
        <div class="d-flex justify-content-around">
           <button class="btn btn-warning btn-round form-control last">
               <a href="{% url 'orders:forming_complete' object.pk %}">
                   совершить покупку
               </a>
           </button>
           <button class="btn btn-default btn-round form-control last">
               <a href="{% url 'orders:delete' object.pk %}">удалить</a>
           </button>

        </div>
    </div>
{% endif %}
<div class="container">

    <button class="btn btn-info btn-round form-control last">
       <a href="{% url 'ordersapp:orders_list' %}">
           к списку заказов
       </a>
    </button>
    <button class="btn btn-default btn-round form-control last">
       <a href="{% url 'main' %}">на главную</a>
    </button>
</div>